
passbolt/Webviews/.DS_Store

.DS_Store
/passbolt/bin/x64/Debug
/passbolt/obj
/.vs
/passbolt/Webviews/Background/node_modules
/passbolt/Webviews/Rendered/node_modules/.bin
/passbolt/Webviews/Rendered/node_modules

passbolt-windows-tests/bin
passbolt-windows-tests/.vs
passbolt-windows-tests/obj
passbolt/testEnvironments.json

*.map
._.DS_Store
passbolt/Webviews/Background/coverage/
