
passbolt/Webviews/.DS_Store

.DS_Store
/passbolt/bin
/passbolt/obj
/.vs
/.idea
/passbolt/Webviews/Background/node_modules
/passbolt/Webviews/Rendered/node_modules/.bin
/passbolt/Webviews/Rendered/node_modules

passbolt-windows-tests/bin
passbolt-windows-tests/.vs
passbolt-windows-tests/obj
passbolt/testEnvironments.json

._.DS_Store
passbolt/Webviews/Background/coverage/

*.user
/passbolt/AppPackages
/passbolt/BundleArtifacts

*.pfx
Package.StoreAssociation.xml

passbolt/Webviews/Background/junit.xml 
passbolt/Webviews/Rendered/junit.xml 
